<script lang="ts">
import PageButton from './PageButton.svelte';
import { currentPage } from '../../stores';
import { createEventDispatcher } from 'svelte';
import { get } from 'svelte/store';

export let pageCount: number;
export let disabled: boolean;

const dispatch = createEventDispatcher();

function nextPage() {
	dispatch('page', (get(currentPage) as number) + 1);
}

function prevPage() {
	dispatch('page', (get(currentPage) as number) - 1);
}
</script>

<nav class="pagination is-centered" role="navigation" aria-label="pagination">
	<button
		class="pagination-previous"
		href="#previous"
		disabled={$currentPage == 1}
		on:click|preventDefault={prevPage}
	>
		Previous
	</button>
	<button
		class="pagination-next"
		href="#next"
		disabled={$currentPage == pageCount}
		on:click|preventDefault={nextPage}
	>
		Next
	</button>
	<ul class="pagination-list">
		{#if pageCount === 1}
			<PageButton on:page {disabled} pageNumber={1} />
		{:else if pageCount <= 5}
			{#each Array(pageCount) as _, i}
				<PageButton on:page {disabled} pageNumber={i + 1} />
			{/each}
		{:else if $currentPage > pageCount - 3}
			<PageButton on:page {disabled} pageNumber={1} />
			<li><span class="pagination-ellipsis">&hellip;</span></li>
			{#each Array(4) as _, i}
				<PageButton on:page {disabled} pageNumber={pageCount - 3 + i} />
			{/each}
		{:else if $currentPage < 4}
			{#each Array(4) as _, i}
				<PageButton on:page {disabled} pageNumber={i + 1} />
			{/each}
			<li><span class="pagination-ellipsis">&hellip;</span></li>
			<PageButton on:page {disabled} pageNumber={pageCount} />
		{:else}
			<PageButton on:page pageNumber={1} />
			<li><span class="pagination-ellipsis">&hellip;</span></li>
			<PageButton on:page {disabled} pageNumber={$currentPage - 1} />
			<PageButton on:page {disabled} pageNumber={$currentPage} />
			<PageButton on:page {disabled} pageNumber={$currentPage + 1} />
			<li><span class="pagination-ellipsis">&hellip;</span></li>
			<PageButton on:page {disabled} pageNumber={pageCount} />
		{/if}
	</ul>
</nav>
