<script lang="ts">
import { currentPage } from '../../stores';
import { createEventDispatcher } from 'svelte';

export let pageNumber: number;
export let disabled: boolean;

const dispatch = createEventDispatcher();

function sendPageEvent() {
	dispatch('page', pageNumber);
}
</script>

<li>
	{#if $currentPage === pageNumber}
		<button
			{disabled}
			href="#page-{pageNumber}"
			class="pagination-link is-current"
			aria-label="Page {pageNumber}"
			aria-current="page"
		>
			{pageNumber}
		</button>
	{:else}
		<button
			{disabled}
			on:click|preventDefault={sendPageEvent}
			href="#page-{pageNumber}"
			class="pagination-link"
			aria-label="Goto page {pageNumber}"
		>
			{pageNumber}
		</button>
	{/if}
</li>
