<script lang="ts">
import PageButtons from './PageButtons.svelte';
export let pageCount: number;
// Disable all buttons on this element
export let disabled: boolean = false;
</script>

<PageButtons on:page {pageCount} {disabled} />
<slot />
<PageButtons on:page {pageCount} {disabled} />
