<script lang="ts">
import { aboutModal } from '../../stores';
import Modal from '../wrapper/Modal.svelte';
</script>

<Modal on:close={() => ($aboutModal = false)} title="About">
	<div>
		<h5 class="title is-5">Built With</h5>
		<p class="content">
			Made using the
			<a href="https://svelte.dev/" target="_blank">Svelte</a>
			JS framework, the
			<a href="https://bulma.io/" target="_blank">Bulma</a>
			css framework and the
			<a href="https://newsapi.org/" target="_blank">NewsAPI</a>
			api.
		</p>

		<h5 class="title is-5">About the Developer</h5>
		<p class="content">
			My name is Mason Osborn. I'm a college student majoring in CS. My favorite
			languages are typescript, C#, and rust. I enjoy making and playing games,
			and like to read articles about topics I don't fully understand because
			what little I can understand is fascinating.
		</p>
	</div>
</Modal>
