<script lang="ts">
import { settingsModal } from '../../stores';

import Modal from '../wrapper/Modal.svelte';

import { createEventDispatcher } from 'svelte';

import type { SettingsDetails } from '../../types/events.types';

export let currentSettings: {
	resultsPerPage: number;
};

// used to dispatch custom events
const dispatch = createEventDispatcher();

let apiKey: string = '';
let resultsPerPage = currentSettings.resultsPerPage || 20;

let form: HTMLFormElement;

let validityMessages: {
	apiKey: false | string;
	resultsPerPage: false | string;
} = {
	apiKey: false,
	resultsPerPage: false,
};

function saveSettings() {
	if (!form.reportValidity()) return false;
	// ensure this type is used, since it's also used when recieving events
	let settings: SettingsDetails = {
		apiKey,
		resultsPerPage,
	};
	dispatch('settings', settings);
	close();
}

function close() {
	$settingsModal = false;
}
</script>

<Modal customCloseButton on:close={close} title="Settings">
	<form class="form" bind:this={form} style="overflow: auto;">
		<div class="field">
			<label class="label" for="apiKey">API Key (Can only set a new one)</label>
			<div class="control has-icons-left">
				<input
					class="input"
					id="apiKey"
					type="text"
					bind:value={apiKey}
					placeholder="API Key"
				/>
				<span class="icon is-left"> <i class="fas fa-key" /> </span>
			</div>
		</div>
		<div class="control">
			<label class="label" for="resultsPerPage">Results per page</label>
			<input
				class="input"
				id="resultsPerPage"
				type="number"
				min={1}
				max={100}
				bind:value={resultsPerPage}
				data-tooltip={validityMessages.resultsPerPage}
				class:force-tooltip={validityMessages.resultsPerPage}
				required
			/>
		</div>
	</form>
	<div slot="footer" class="control">
		<button class="button is-link" on:click={saveSettings}>Save</button>
		<button class="button" on:click={close}>Cancel</button>
	</div>
</Modal>
