<script lang="ts">
import ArticleTile from './ArticleTile.svelte';
import checkPaywall from '../../checkPaywall';
import type { Article } from '../../types/article.types';

export let articles: Article[] = [];
export let hidePaywall: boolean = false;
</script>

<div class="tile is-ancestor is-vertical">
	<div class="tile is-parent is-vertical">
		{#each articles as article}
			{#if !(hidePaywall && checkPaywall(article.url))}
				<ArticleTile {article} paywall={checkPaywall(article.url)} />
			{/if}
		{:else}
			<p class="box has-text-danger">No articles found</p>
		{/each}
	</div>
</div>
