<script lang="ts">
import type { Article } from '../../types/article.types';

export let article: Article;
export let paywall: boolean = false;

$: ({ title, description, url, publishedAt /*author, urlToImage*/ } = article);
$: source = article.source.name;
</script>

<style>
.clip-circle {
	clip-path: circle(50%);
}
</style>

<article class="tile is-child box">
	{#if paywall}
		<span class="is-pulled-right" data-tooltip="Site has paywall">
			<span
				class="icon is-medium has-text-danger has-background-warning is-pulled-right clip-circle"
			>
				<i class="fas fa-lg fa-dollar-sign" />
			</span>
		</span>
	{/if}
	<a href={url} rel="noopener" target="_blank">
		<p class="title is-4">{title}</p>
	</a>
	<p class="subtitle is-6 mt-1" class:mb-3={description != null}>
		From
		{source}<span class="mx-1">-</span>{new Date(publishedAt).toLocaleString()}
	</p>
	{#if description != null}
		<div class="content">
			{@html description}
		</div>
	{/if}
	<!-- <div class="is-7 has-text-weight-light is-pulled-right is-inline">{source}</div> -->
</article>
