<script lang="ts">
import { slide } from 'svelte/transition';

export let visible = false;
export let title: string;
</script>

<div class="card">
	<a
		aria-label="{visible ? 'Hide' : 'Show'} {title}"
		href="#click"
		on:click|preventDefault={() => (visible = !visible)}
	>
		<header class="card-header">
			<p class="card-header-title">{visible ? 'Hide' : 'Show'} {title}</p>
		</header>
	</a>
	{#if visible}
		<div class="card-content" transition:slide>
			<slot />
		</div>
	{/if}
</div>
