<script lang="ts">
import { createEventDispatcher } from 'svelte';

export let title: string;
// don't auto add close buttons
export let customCloseButton: boolean = false;

const dispatch = createEventDispatcher();

function close() {
	dispatch('close');
}
</script>

<div class="modal is-active">
	<div class="modal-background" on:click={close} />
	<div class="modal-card">
		{#if title != null}
			<div class="modal-card-head">
				<p class="modal-card-title">{title}</p>
				{#if !customCloseButton}
					<button class="delete" aria-label="close" on:click={close} />
				{/if}
			</div>
		{/if}
		<div class="modal-card-body">
			<slot />
		</div>
		{#if $$slots.footer}
			<div class="modal-card-foot">
				<slot name="footer" />
			</div>
		{/if}
	</div>
	{#if title == null && !customCloseButton}
		<button class="modal-close is-large" aria-label="close" on:click={close} />
	{/if}
</div>
