<script lang="ts">
import type { SearchError } from '../newsApi';
import type { ErrorCode } from '../types/api.types';

let hidden = false;
export let error: SearchError;
$: title = makeTitle(error.code);
$: message = makeMessage(error.code, error.message);

function makeTitle(code: ErrorCode): string {
	switch (code) {
		case 'apiKeyDisabled':
		case 'apiKeyExhausted':
			return 'API Key not accepted';
		case 'apiKeyInvalid':
		case 'apiKeyMissing':
			return 'API Key Missing or invalid';
		case 'parameterInvalid':
		case 'parametersMissing':
			return 'Parameter Error';
		case 'rateLimited':
			return 'Rate Limited';
		case 'sourcesTooMany':
			return 'Too Many Sources';
		case 'sourceDoesNotExist':
			return 'Invalid Source';
		case 'unexpectedError':
			return 'Server Error';
		default:
			return 'Program Error';
	}
}

function makeMessage(code: ErrorCode, defaultMessage: string): string {
	switch (code) {
		case 'apiKeyDisabled':
			return 'API key disabled, either free trial or subscription ended. Use a different key.';
		case 'apiKeyExhausted':
			return 'API key out of requests, wait until tommorrow, or use a different api key.';
		case 'apiKeyInvalid':
			return 'Invalid API key, set it in the settings menu.';
		case 'apiKeyMissing':
			return 'No API key provided, set it in the settings menu.';
		case 'rateLimited':
			return 'Making too many requests too fast, slow down or use a different api key.';
		case 'parameterInvalid':
		case 'parametersMissing':
		case 'sourcesTooMany':
		case 'sourceDoesNotExist':
		case 'unexpectedError':
		default:
			return defaultMessage;
	}
}
</script>

{#if !hidden}
	<div class="container has-text-centered notification is-warning">
		<button class="delete" type="button" on:click={() => (hidden = !hidden)} />
		<div class="icon is-large">
			<i class="fas fa-2x fa-exclamation-triangle" />
		</div>
		<p class="title">{title}</p>
		<p class="subtitle">{message}</p>
	</div>
{/if}
