<script lang="ts">
import { slide } from 'svelte/transition';
import { settingsModal, aboutModal } from '../stores';

// could have transition for burger menu, but requires either scss setup to use bulma media hooks,
// or calculating the width of the device, since the navbar behaves differently at different widths.
let burgerExpanded = false;
</script>

<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<p class="navbar-item is-size-4 has-text-weight-medium">News Search</p>
		<a
			role="button"
			href="#menu"
			class="navbar-burger"
			class:is-active={burgerExpanded}
			aria-label="menu"
			aria-expanded={burgerExpanded}
			on:click={() => (burgerExpanded = !burgerExpanded)}
		>
			<span aria-hidden="true" />
			<span aria-hidden="true" />
			<span aria-hidden="true" />
		</a>
	</div>
	<div class="navbar-menu" class:is-active={burgerExpanded} transition:slide>
		<div class="navbar-end">
			<!--
				For each item on the navbar, have a nice icon button for desktop, and a full text description on touch.
				Bulma will hide the items automatically, and will turn the whole thing into a burger menu on mobile.
			-->
			<a
				class="navbar-item"
				href="#info"
				title="About"
				on:click={() => ($aboutModal = true)}
			>
				<span class="icon is-hidden-touch">
					<i class="fas fa-lg fa-info-circle" />
				</span>
				<span class="is-hidden-desktop">About</span>
			</a>
			<a
				class="navbar-item"
				href="#settings"
				title="Settings"
				on:click={() => ($settingsModal = true)}
			>
				<span class="icon is-hidden-touch">
					<i class="fas fa-lg fa-cog" />
				</span>
				<span class="is-hidden-desktop">Settings</span>
			</a>
			<a
				class="navbar-item"
				title="GitLab Repository"
				href="https://gitlab.com/ChaoticWyrme/news-api"
				target="_blank"
			>
				<span class="icon is-hidden-touch">
					<i class="fab fa-lg fa-gitlab" />
				</span>
				<span class="is-hidden-desktop">GitLab Repository</span>
			</a>
		</div>
	</div>
</nav>
