<script lang="ts">
import countries from '../data/countries.json';
import ExpandableCard from './wrapper/ExpandableCard.svelte';
import { createEventDispatcher } from 'svelte';
import { Category } from '../types/category.enum';

import type { SearchDetails } from '../types/events.types';

export let query = '';
export let loading = false;

// additional filters
export let hidePaywallArticles = false;
export let countryCode: string = 'us';
export let categories: Category[] = [Category.Technology];

const availableCategories: Category[] = [
	Category.Entertainment,
	Category.Technology,
	Category.Sports,
];

// dynamically change whether the form is valid
$: queryValid = categories.length > 0;

const dispatch = createEventDispatcher();

function handleSubmit() {
	if (!queryValid || loading) return;

	let details: SearchDetails = {
		query,
		hidePaywallArticles,
		countryCode,
		categories,
	};

	dispatch('search', details);
}
</script>

<style>
.hidden {
	/* Hide an element without removing it from the layout */
	visibility: hidden;
}

label.checkbox:not(:last-of-type) {
	margin-right: 1rem;
}
</style>

<form class="container is-max-desktop" on:submit|preventDefault={handleSubmit}>
	<fieldset disabled={loading}>
		<label class="label" for="searchBox">Search</label>
		<div class="field has-addons">
			<div class="control has-icons-left is-expanded">
				<input
					id="searchBox"
					bind:value={query}
					class="input"
					class:is-danger={!queryValid}
					type="text"
					placeholder="Search term"
				/>
				<span class="icon is-small is-left"> <i class="fas fa-search" /> </span>
			</div>
			<div class="control">
				<button
					class="button is-link"
					class:is-loading={loading}
					disabled={!queryValid}
					type="submit"
				>
					Search
				</button>
			</div>
		</div>
		<p
			class="help is-danger"
			class:hidden={queryValid}
			aria-hidden={queryValid}
			role="alert"
		>
			Must select at least one category
		</p>
	</fieldset>
	<ExpandableCard title="Filter">
		<div class="field">
			<label class="control checkbox">
				<input type="checkbox" bind:checked={hidePaywallArticles} />
				Hide articles with paywall
			</label>
		</div>
		<div class="field">
			<div class="control has-icons-left">
				<div class="select">
					<select bind:value={countryCode}>
						<option value={undefined}>Select Country</option>
						{#each Object.entries(countries) as [code, name]}
							<option value={code}>{name}</option>
						{/each}
					</select>
				</div>
				<span class="icon is-left"> <i class="fas fa-globe" /> </span>
			</div>
		</div>
		<div class="field">
			{#each availableCategories as thisCategory}
				<label class="checkbox">
					<input type="checkbox" bind:group={categories} value={thisCategory} />
					{thisCategory[0].toUpperCase() + thisCategory.substring(1)}
				</label>
			{/each}
		</div>
	</ExpandableCard>
</form>
