<script lang="ts">
/* Imports */
// stores
import { currentPage, settingsModal, aboutModal } from './stores';

// classes / raw typescript
import NewsApi from './newsApi';

// svelte components
import ArticleList from './components/article/ArticleList.svelte';
import SearchControls from './components/SearchControls.svelte';
import Paginate from './components/paginate/Paginate.svelte';
import DisplayError from './components/DisplayError.svelte';
import NavBar from './components/NavBar.svelte';
import SettingsModal from './components/modals/SettingsModal.svelte';
import AboutModal from './components/modals/AboutModal.svelte';

// type imports
import type { SearchResult } from './types/api.types';
import type { SearchEvent, SettingsEvent } from './types/events.types';

// search variables
let hidePaywall = false;
let response: Promise<SearchResult> = undefined;

let apiRunner = new NewsApi('78b9d599c4f94f8fa3afb1a5458928d6');

// changes apiRunner settings based on data from SettingsModal
function handleSettings(event: SettingsEvent) {
	let settings = event.detail;
	if (settings.apiKey.length > 0) apiRunner.setApiKey(event.detail.apiKey);
	if (settings.resultsPerPage >= 1 && settings.resultsPerPage <= 100)
		apiRunner.setPageSize(event.detail.resultsPerPage);
}

// store the pagination data here, so that when loading you can keep showing the pagination stuff
let paginateCache = {
	// don't use this when it's dirty
	dirty: true,
	page: 1,
	totalResults: 0,
	pageCount: 1,
};

function handleSearch(event: SearchEvent) {
	let { detail } = event;

	// invalidate pagination cache
	paginateCache.dirty = true;

	response = apiRunner
		.search(detail.query, detail.categories, detail.countryCode)
		.then((response) => {
			// newSearch = true;
			$currentPage = 1;

			// populate paginate cache
			if (response.paginate) {
				paginateCache = {
					dirty: false,
					page: 1,
					pageCount: response.pageCount,
					totalResults: response.totalResults,
				};
			} else {
				paginateCache.dirty = true;
			}

			return response;
		})
		.catch((err) => {
			console.log(err.message);
			return err;
		});
}

// changes the page
function changePage(event: CustomEvent<number>) {
	let newPage = event.detail;
	response = apiRunner.getPage(newPage).then((res) => {
		$currentPage = newPage;
		return res;
	});
}
</script>

<style>
:global(html) {
	background-color: rgb(252, 252, 252);
}
</style>

<NavBar />
<div class="section">
	<div class="container">
		<SearchControls
			on:search={handleSearch}
			bind:hidePaywallArticles={hidePaywall}
		/>
	</div>
	<div class="container pt-6 is-max-desktop">
		{#if response !== undefined}
			<!--
        When a request is made, response is set to a promise.
        the {#await} {:then} {:catch} resolves at the different states of the promise.
        So:
        - The await section is what we display when loading a result.
        - The then section is for displaying the result.
        - The catch section is for displaying errors.
      -->
			{#await response}
				<!-- If this request is a new one, paginateCache.dirty === true -->
				{#if paginateCache.dirty}
					<div class="level">
						<span class="icon is-large level-item">
							<i class="fas fa-2x fa-spinner fa-pulse" />
						</span>
					</div>
				{:else}
					<!--
            Here, we are loading a new page of a previous request,
            so it looks nicer to keep the pagination buttons visible.
            Actually, we calculate pagination on the fly from api results, but again, it's nicer to pretend we don't.
          -->
					<Paginate pageCount={paginateCache.pageCount} disabled>
						<div class="level">
							<span class="icon is-large level-item">
								<i class="fas fa-2x fa-spinner fa-pulse" />
							</span>
						</div>
					</Paginate>
				{/if}
			{:then response}
				<!-- Render articles as list-->
				{#if response.paginate}
					<!-- Has additional pages -->
					<Paginate on:page={changePage} pageCount={response.pageCount}>
						<ArticleList {hidePaywall} articles={response.articles} />
					</Paginate>
				{:else}
					<!-- No pages -->
					<ArticleList {hidePaywall} articles={response.articles} />
				{/if}
			{:catch error}
				<DisplayError {error} />
			{/await}
		{/if}
	</div>
</div>
<!-- Modals -->
{#if $settingsModal}
	<SettingsModal
		currentSettings={{ resultsPerPage: apiRunner.getPageSize() }}
		on:settings={handleSettings}
	/>
{/if}
{#if $aboutModal}
	<AboutModal />
{/if}
